@import url("https://use.typekit.net/uri1kit.css");
@import url("https://use.typekit.net/uri1kit.css");
@import url("https://use.typekit.net/uri1kit.css");
@import url("https://use.typekit.net/uri1kit.css");
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.wrap{


}
/*header*/
header div{
    width: 100%;
/*    height:34px;*/
    background:url("gallery/blue_paws_backgr.png") repeat-x;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
header ul{
    position: relative;
    left: calc(50% - 209px);
    background: #8cd3c9;
    display: flex;
}
header li{
/*    display: inline-block;*/
    align-items: center;
    padding: 6px 20px;
}

header a{
    color: #ffffff;
    font-family: open-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}
header li:before{
    content: "";
    width: 13px;
    height: 14px;
    display: inline-block;
    background: url("gallery/blue_pawn_up.png");
    position: relative;
    left: -10px;
}
.last{
    padding: 6px 17px;
}
.last:after{
    content: "";
    width: 13px;
    height: 14px;
    display: inline-block;
    background: url("gallery/blue_pawn_up.png");
    position: relative;
    left: 10px;
    margin-right: 6px;
}
header div+div{
    background: #6ac4b8;
    width: 100%;
    padding: 0 0 14px;
}
header div+div>div{
    background: none;
    position: relative;
    width: 111px;
    top: -6px;
    margin-left: 193px;
}
/*header div+div>div img{
    position: relative;

}*/
header div+div>div:before{
    content: "Pets Today";
    color: #157d8c;
    font-family: "roboto-condensed", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    position: relative;
    top: 56px;
    left: calc(100% - 19px);
    white-space: nowrap;
/*    left: calc(0% + 330px);*/
}
header div+div>div+p+form+div{
    background: none;
    position: relative;
    width: 175px;
    top: 12px;
    margin-left: auto;
    right: 278px;
}
header div+div>div+p+form+div:before{
    content: none;
}
header div+div>div+div+p+form+div img{
    position: relative;

}
header div+div p{
    position: relative;
    width: 446px;
/*    margin: 0 auto;*/
    right: -200px;
    top: -16px;
    color: #157d8c;
    font-family: "open-sans", sans-serif;
    font-size: 22px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 53px;
    text-align: center;
    white-space: nowrap;
}
header form{
    position: relative;
    right: 105px;
    top: 6px;
    white-space: nowrap;
}
header input{
    position: relative;
    right: 31%;
    border: none;
}
header input[type = "search"]{
    width: 411px;
    height: 30px;
    border-left: 19px solid white;
    top: 15px;
}
header input[type = "search"]:focus-visible{
    outline: none;
}
header input[type = "search"]::placeholder{
    color: #6ac4b8;
    font-family: "open-sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}
header input[type = "submit"]{
    width: 30px;
    height: 30px;
    background: #157d8c url("gallery/css_sprites.png") -623px -397px;
    color: transparent;
    padding: 9px 8px 9px 8px;
    top: 17px;
}
header div+div+div{
    background: #99dad2;
    height: 1px;
    width: 100%;
    padding: 0;
}
header div+div+div+div{
    width: 100%;
    background: #6ac4b8;
    min-height: 52px;
}
header div+div+div+div ul{
    position: relative;
    left: calc(50% - 485px);
    background: transparent;
    color: #ffffff;
    top: -3px;
    width: 972px;
}
header div+div+div+div ul a{
    text-decoration: none;
    display: inline-block;
    font-family: "Sofia Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    transform: scaleX(0.9);
    font-weight: 700;
}
header div+div+div+div li:before{
    background: url("gallery/css_sprites.png") -632px -239px;
    width: 17px;
    height: 18px;
    top: 3px;
    left: -17px;
}
.last_2:after{
    content: "";
    width: 17px;
    height: 18px;
    display: inline-block;
    background:  url("gallery/css_sprites.png") -632px -239px;
    position: relative;
    left: 15px;
    top: 3px;
}
/*section photo + poll*/
.photo_poll div{
    display: flex;
}
.photo_poll div div{
    margin-left: 280px;
    margin-top: 28px;
    min-height: 376px;
    display: flex;
    padding: 0;
}
.photo_poll div div{
    height: 372px;
    width: 612px;
}
.photo_poll div div:before{
    content: "новые питомники";
    position: absolute;
    margin-top: 25px;
    margin-left:-8px;
    width: 221px;
    height: 74px;
    color: #fed34f;
    font-family: "bebas-neue", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: pre;
    transform: scaleX(0.6);
}
.photo_poll div div:after{
    content: "щенков и котят";
    position: absolute;
    margin-top: 65px;
    margin-left:-7px;
    width: 221px;
    height: 74px;
    color: #ffffff;
    font-size: 42px;
    font-family: "bebas-neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    white-space: pre;
    transform: scaleX(0.6);
}
.photo_poll ul{
/*    position: relative;*/
    margin-top: 348px;
    margin-left: -345px;
    background: transparent;
    display: flex;
}
.photo_poll li{
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 4px;
}
.photo_poll li:active{
    background-color: #ffffff;
}
.photo_poll aside div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: -80px;
}
.photo_poll aside div div{
    width: 154px;
    max-height: 30px;
    margin: 0 57px 0 0;
    min-height: auto;
    padding: 9px 100px 0;
    background: #fed34f;
    color: #ffffff;
    font-family: "Sofia Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    transform: scaleX(0.85);

}
.photo_poll aside div div+div{
    background: #f3f3f3;
    max-height: 280px;
    margin-top: -50px;
}
.photo_poll form{
    position: relative;
/*    top: 7px;*/
    left: -125px;
    padding: 28px;
}
.photo_poll form p{
    width: 290px;
    height: 42px;
    color: #383838;
    font-family: "Sofia Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    transform: scaleX(1.1);
    position: relative;
    left: 132px;
    top:-7px;
    line-height: 24px;
}
.photo_poll form p+p{
    left: 123px;
    top:17px;
    height: 35px;
    line-height: 18px;
    transform: scaleY(0.9)
}
.photo_poll label{
    color: #999999;
}
.form_title{
    margin: -5px 0 5px;
}
/*.photo_poll input[type ="checkbox"]{
    -webkit-appearance: none;
}*/
.photo_poll input[type ="checkbox"]:before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #e3e3e3;
    background: #ffffff;
    position: relative;
    top: -2px;
    left: -5px;
}
.photo_poll input[type ="checkbox"]:checked:before{
    background: #fed34f;
}
.photo_poll input[type ="checkbox"]:checked:after{
    content: "";
    display: block;
    width: 11px;
    height: 4px;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    transform: rotate(-45deg);
    position: relative;
    top: -14px;
    left:-2px;
    overflow: hidden;
}
.photo_poll aside div:before, .photo_poll aside div:after{
    content: none;
}
.photo_poll aside ul{
    display: flex;
    width: 288px;
    justify-content: space-between;
    position: relative;
    top: -386px;
    left: 361px;
    transform:scaleX(0.8);
}

.photo_poll aside ul a{
    color: #fed34f;
    font-family: "roboto-condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    white-space: pre;
/*    margin: 0 20px;*/

}
.photo_poll aside ul li:before{
    content: "";
    background: url("gallery/css_sprites.png") -120px -570px;
    display:block;
    width: 16px;
    height: 17px;
    position: relative;
    left: 45px;
    top: -6px;
}
/*section freshest + the most discussed*/
.freshest_discussed h1{
    color: #383838;
    font-family: "roboto-condensed", sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    margin-top: -336px;
    margin-left: 346px;
    transform: scaleX(0.85);
}
.freshest_discussed .hr_grey{
    height: 1px;
    background: #e3e3e3;
    width: 632px;
    position: relative;
    left: 280px;
    margin-top: 6px;
}
.freshest_discussed .articles .in_articles{
    width: 632px;
    margin-left: 280px;
    margin-top: 30px;
}
.freshest_discussed .articles .in_articles+hr+.in_articles{
    margin-top: 36px;
}
.freshest_discussed .articles .in_articles+hr+.in_articles+hr+.in_articles{
    margin-top: 32px;
}
.articles .in_articles{
    margin-bottom:20px;
    margin-top: 20px;
}
.freshest_discussed .articles a{
    color: #383838;
    font-family: "roboto-condensed", sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    display: block;
    width: 442px;
    transform: scaleX(0.82);
    margin-left: 223px;
    margin-top: -196px;
    text-decoration: underline solid #383838;
    line-height: 24px;
}
.articles .in_articles>div>div, ul{
    display: flex;
}
.articles p, ul{
    color: #6ac4b8;
    font-family: "open-sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

}
.articles .in_articles>div>div{
    margin-left: 287px;
    margin-top: 9px;
}
.articles p{
    margin-right: 51px;
}
.articles li{
    margin-right: 34px;
}
.articles p:before{
    content: "";
    display: block;
    width: 16px;
    height: 14px;
    background: url("gallery/css_sprites.png") -376px -241px;
    left: -22px;
    position: relative;
    top: 13px;
}
.articles ul>li:before{
    content: "";
    display: block;
    width: 16px;
    height: 14px;
    background: url("gallery/css_sprites.png") -120px -241px;
    left: -22px;
    position: relative;
    top: 13px;
}
.articles ul>li+li:before{
    background: url("gallery/css_sprites.png") -376px -75px;
    height: 15px;
}
.articles .content{
    color: #777777;
    font-family: "open-sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    width: 365px;
    margin-left: 264px;
    margin-top:17px;
    line-height: 20px;
}
.articles .content:before{
    content: none;
}
.articles .in_articles>div>a+div+p+a{
    color: #6ac4b8;
    font-family: "roboto-condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-decoration: underline #6ac4b8;
    margin-top: 11px;
}
hr{
    border: 1px solid #e3e3e3;
    width: 635px;
    margin-left: 280px;
}
.freshest_discussed aside div>div{
    width: 240px;
    padding: 8px 57px;
    background: #91d35f;
    color: #ffffff;
    font-family: "roboto-condensed", sans-serif;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    transform: scaleX(0.85);
    text-align: center;
    margin-left: 913px;
    margin-top: -730px;
}
.freshest_discussed aside div>img{
    margin-left: 940px;
}
.freshest_discussed aside div>ul{
    display: flex;
    color: #91d35f;
    font-family: "open-sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-top:-3px;
    margin-left: 929px;
}
.freshest_discussed aside div>ul>li{
    margin-left: 33px;
}
.freshest_discussed aside div>ul>li:before{
    content: "";
    display: block;
    width: 16px;
    height: 14px;
    background: url("gallery/css_sprites.png") -632px -76px;
    left: -22px;
    position: relative;
    top: 13px;
}
.freshest_discussed aside div>ul>li+li:before{
    background: url("gallery/css_sprites.png") -376px -405px;
    height: 15px;
}
.freshest_discussed aside div>a{
    color: #383838;
    font-family: "roboto-condensed", sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    display: block;
    width: 307px;
    transform: scaleX(0.83);
    margin-left: 914px;
    margin-top: 3px;
    text-decoration: underline solid #383838;
    line-height: 24px;
}
/*section useful advices*/
.useful_advices>div{
    width: 100%;
    min-height: 226px;
    background: #f3f3f3 url("gallery/grey_paws.png") repeat-x;
    margin-top:371px;
    padding:30px 0;
}
.useful_advices h1{
    width: 283px;
    height: 23px;
    color: #383838;
    font-family: "roboto-condensed", sans-serif;
    font-size: 32px;
    font-weight: 700;
    transform: scaleX(0.83);
    font-style: normal;
    background: #f3f3f3;
    white-space: pre;
    margin-top: -2px;
    margin-left: 617px;
    position: relative;
    top:-30px;
    border-top: 30px solid #f3f3f3;
}
.useful_advices hr{
    width: 960px;
    margin-top: -20px;
}
.useful_advices>div>div{
    width: 960px;
    min-height: 226px;
    background: #f3f3f3;
    margin: 29px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.useful_advices .table{
    position: absolute;
    width: 245px;
    height: 38px;
    background: #157d8c;
    opacity: 0.75;
    bottom: 2px;
    padding: 9px 36px 14px 19px;
}
.useful_advices .table a{
    display: block;
    width: 279px;
    height: 38px;
    color: #ffffff;
    font-family: "roboto-condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    transform:scaleX(0.91);
    margin-left: -11px;
    margin-top: -4px;
    line-height: 24px;
}
/*section form*/
.form_news>div{
    width: 100%;
}
.form_news h1{
    width: 645px;
    height: 31px;
    color: #383838;
    font-family: "roboto-condensed", sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    white-space: pre;
    margin: 29px 437px 0;
    transform:scaleX(0.82);
}
.form_news hr{
    width: 960px;
    margin-top: 6px;
}
.form_news div{
    width:920px;
    height: 44px;
    background: #fed34f;
    margin: 29px auto;
    border-radius: 5px;
    padding: 40px 20px;
}
.form_news form{
}
.form_news input[type = "text"]{
    width: 350px;
    height: 42px;
    padding-left: 16px;
    border: none;
    margin-right: 20px;
    box-shadow: #dbb53f 0 2px;
}
.form_news input[type = "text"]::placeholder{
    width: 90px;
    height: 20px;
    color: #777777;
    font-family: "roboto-condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;

}
.form_news input[type = "submit"]{
    width: 133px;
    height: 44px;
    background-color: #6ac4b8;
    border: none;
    color: #ffffff;
    font-family: "roboto-condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top:3px;
    box-shadow: #4c97a1 0 2px;
}
/*section footer*/
footer div {
    width: 100%;
    background: #157d8c;
    min-height: 52px;
    margin-top: 60px;
}
footer div ul{
    position: relative;
    left: calc(50% - 476px);
    background: transparent;
    display: flex;
    width: 971px;
    justify-content: space-around;
}
footer div ul a{
    text-decoration: none;
    display: inline-block;
    font-family: "Sofia Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    transform: scaleX(0.91);
    font-weight: 700;
    color: #ffffff;
}
footer div ul li:before{
    content: "";
    background: url("gallery/css_sprites.png") -632px -239px;
    width: 17px;
    height: 18px;
    top: 19px;
    left: -40px;
    display: block;
    position: relative;
}
.last_3{
    margin-top: -2px;
}
.last_3:before{
    top:21px;
}
.last_3:after{
    content: "";
    width: 17px;
    height: 18px;
    display: inline-block;
    background:  url("gallery/css_sprites.png") -632px -239px;
    position: relative;
    left: 10px;
    top: 3px;

}
footer hr{
    border: 1px solid #99dad2;
    margin-top: 0;
}
footer div+hr+div{
    min-height: 148px;
    position: relative;
/*    z-index: -10;*/
    margin-top: -9px;
    display: flex;
}
footer div+hr+div>div{
    background: none;
    position: relative;
    width: 111px;
    top: 1px;
    margin-left: 279px;
    margin-top: 0;
}
/*header div+div>div img{
    position: relative;

}*/
footer div+hr+div>div:before{
    content: "Pets Today";
    color: #6ac4b8;
    font-family: "roboto-condensed", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    position: relative;
    top: 106px;
    left: calc(100% - 106px);
    white-space: nowrap;
    /*    left: calc(0% + 330px);*/
}
footer div+hr+div>div+div:before{
    content: none;
}
footer div+hr+div>div+div{
    width: 422px;
    margin-left: 133px;
    margin-top: -10px;
}
footer div+hr+div>div+div>img{
    position: relative;
    z-index: 10;
}
footer div+hr+div>div+div>img+img{
    transform: scaleX(-1);
    position: relative;
    top: 7px;
    left: -65px;
    z-index: 5;
}
footer div+hr+div>div+div+div>div{
    display: flex;
    width: 230px;
    margin-top:40px;
    margin-left: -66px;
}
footer div+hr+div>div+div+div>div+div{
    margin-top:11px;
    margin-left: -66px;
}
footer div+hr+div>div+div+div>div p{
    width: 117px;
    height: 16px;
    color: #ffffff;
    font-family: "roboto-condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    white-space: pre;

}
footer div+hr+div>div+div+div>div li:before{
    content: none;
}
footer div+hr+div>div+div+div>div ul{
    margin-left: 370px;
}
footer div+hr+div>div+div+div>div li{
    margin-right: 4px;
}
footer div+hr+div>div+div+div>div a{
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    transform: scaleX(1);
}
footer div+hr+div>div+div+div>div li>a:before{
    content: "";
    background: url("gallery/css_sprites.png") -624px -562px;
    width: 31px;
    height: 31px;
    display: block;

}
footer div+hr+div>div+div+div>div li+li>a:before{
    background: url("gallery/css_sprites.png") -112px -397px;
}
footer div+hr+div>div+div+div>div li+li+li>a:before{
    background: url("gallery/css_sprites.png") -367px -562px;
}
footer div+hr+div>div+div+div>div+div a{
    display: inline;
}
footer div+hr+div>div+div+div>div+div p, footer div+hr+div>div+div+div>div+div a{
    white-space: nowrap;
    color: #6ac4b8;
    font-family: "roboto-condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    transform: scaleX(0.85);
    margin-left: -5px;
}
footer div+hr+div>div+div+div>div+div p:after{
    content: "";
    background: url("gallery/css_sprites.png") -112px -67px;
    width: 31px;
    height: 31px;
    display: block;
    transform: scaleX(1.2);
    margin-top: -26px;
    margin-left:227px;
}